amqp
apscheduler
beautifulsoup4
coverage
cython
deprecated
docopt
gevent
kombu
matplotlib
mock
modestimage
msgpack
nose
ntplib
numpy
obspy
pandas
psycopg
pyyaml==5.3.1
py-consul
pyzmq
python-qpid-proton
requests
scipy
sqlalchemy
tqdm
xarray
